/* pageTitle Styles */

#pageTitle {
	padding-top: 3rem;
	padding-bottom: 2rem;
}

.pageTitle__text {
	font-size: 2.2rem;
	color: var(--black-1);
}

@media only screen and (min-width: 768px) {
	#pageTitle {
		padding-top: 5rem;
		padding-bottom: 3rem;
	}
	.pageTitle__text {
		font-size: 3.6rem;
	}
}

/* ourSpecials Styles */
#ourSpecials {
	padding: 0;
}
.ourSpecials__title {
	font-size: 1.8rem;
	color: var(--black-1);
	margin-bottom: 2rem;
}
.ourSpecials__wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	max-width: 400px;
}
.ourSpecials__item {
	flex: 1;
	display: flex;
	gap: 2rem;
	padding: 1.5rem;
	background-color: var(--lightGreen-1);
	border-radius: 12px;
}
.ourSpecials__item__img img{
	border-radius: 12px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	object-fit: cover;
}
.ourSpecials__item__info,
.ourSpecials__item__img {
	flex: 1;
}
.ourSpecials__item__title {
	font-size: 2.4rem;
	font-weight: 500;
	margin-bottom: 1rem;
	color: var(--black-1);
	line-height: 1.2em;
}
.ourSpecials__item__price {
	font-size: 1.8rem;
	color: var(--green-1);
	font-weight: 600;
	margin-bottom: 1rem;
}
.ourSpecials__item__rate {
	width: max-content;
}

@media only screen and (min-width: 768px) {
	.ourSpecials__title {
		font-size: 2.4rem;
	}
	.ourSpecials__wrapper {
		flex-direction: row;
		gap: 2rem;
		max-width: none;
	}
	.ourSpecials__item {
		padding: 3rem;
		gap: 2rem;
	}
	.ourSpecials__item__title {
		font-size: 3rem;
		margin-bottom: 1.5rem;
	}
	.ourSpecials__item__price {
		font-size: 2.4rem;
		margin-bottom: 1.5rem;
	}
}

@media only screen and (min-width: 1100px) {
	.ourSpecials__item__img {
		flex: 4;
	}
	.ourSpecials__item__info {
		flex: 3;
	}
}

/* topDish styles */

#topDish {
	padding-bottom: 0;
}

#topDish:last-of-type {
	padding-bottom: 10rem;
}